.login-form{
    max-width: 360px;
    padding: 14px;
    margin: auto;
    height: 100%;
    border: 3px solid #f1f1f1;
} 
.error_message{
  color: red;
}
.container{
  padding: 16px;
  margin-top: 20px;
  
}
#login_button{
  margin-top:10px;
  background-color: #fd7611;
}
h1{
  color:skyblue;
}

/* @media screen and (max-width: 600px) {
  .login-form{
    margin-left: -11px;
    max-width: 300px;

} 
.recapta{
  width: auto;
}
}


@media screen and (max-width: 600px) {
  .login-form{
    margin-left: -11px;
    max-width: 300px;

} 
.recapta{
  width: auto;
}
} */